*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:black;

    overflow:hidden;

    width:100vw;
    height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    font-family:"Cormorant Garamond",serif;

    color:white;

}

#stars{

    position:fixed;

    inset:0;

}

#moonContainer{

    position:absolute;

    width:100vw;
    height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

}

#moonCanvas{

    width:500px;
    height:500px;

}

#introText{

    position:absolute;

    font-size:40px;

    opacity:0;

    transition:2s;

    letter-spacing:2px;

    text-align:center;

    z-index:10;

}
